fastapi
uvicorn
pydantic
SQLAlchemy
alembic
python-dotenv
PyJWT
passlib[bcrypt]
psycopg2
psycopg2-binary>=2.9
passlib
bcrypt<4.0.0
python-jose[cryptography]==3.3.0
redis_client
pydantic[email]
pytest
pytest-asyncio
httpx
requests
fakeredis